// change the theme default colors

$primary: #ffa420;

.btn-primary {
  color: white !important;
}
.page-link:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}
.card {
  transition: all 0.5s;
  -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
  cursor: pointer;
}

.card:hover {
  margin: 2px;
}
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
